<div class="flex justify-between items-center p-2 border-b-1 border-b-[var(--border)] sticky w-full top-0 backdrop-blur-2xl z-50 bg-[var(--body-bg)]-90">
    <div>
        <h1
            class="cursor-pointer"
            (click)="navigateHome()"
        >Demo</h1>
    </div>
    <div class="flex items-center gap-2">
        <base-language-select/>
        <base-color-scheme-select-button/>
        <base-button
            severity="secondary"
            (onClick)="toggleDrawer()"
            icon="pi pi-bars"
        />
    </div>
</div>
