<base-drawer
    [visible]="visible()"
    title="Drawer"
    (visibleChange)="setVisibility($event)"
>
    <ng-template #footer>
        <div class="flex flex-row w-full gap-2 items-center">
            <div
                *ngIf="!userService.loggedIn(); else loggedIn"
                class="flex flex-row w-full gap-2"
            >

                <base-button
                    label="Login"
                    (onClick)="router.navigate(['/auth/login'])"
                    class="w-full"
                />

                <base-button
                    label="Register"
                    severity="secondary"
                    (onClick)="router.navigate(['/auth/register'])"
                    class="w-full"
                />
            </div>

            <ng-template #loggedIn class="flex flex-row w-full gap-2">
                <p class="w-full">{{ user()?.name }}</p>
                <base-button
                    text="true"
                    severity="secondary"
                    icon="pi pi-sign-out"
                    baseTooltip="Sign out"
                    (onClick)="userService.logout().subscribe()"
                />

            </ng-template>

            <base-button
                icon="pi pi-cog"
                text="true"
                severity="secondary"
                (onClick)="navigateToSettings()"
            />
        </div>


    </ng-template>
</base-drawer>
